[submodule "dots/janus/vim-signature"]
	path = dots/janus/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "dots/janus/tcomment_vim"]
	path = dots/janus/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "dots/janus/vim-signify"]
	path = dots/janus/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "dots/janus/vim-jade"]
	path = dots/janus/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "dots/janus/vim-emblem"]
	path = dots/janus/vim-emblem
	url = https://github.com/heartsentwined/vim-emblem
[submodule "dots/janus/vimux"]
	path = dots/janus/vimux
	url = https://github.com/benmills/vimux
[submodule "dots/janus/Dockerfile.vim"]
	path = dots/janus/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "dots/janus/typescript-vim"]
	path = dots/janus/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
